
body{
    background-color:antiquewhite;
    display: grid;
    grid-template-columns:30% 70%;
    grid-template-areas:
    "z z"
    "m m"
    "f f"
}
b {
    color: red;
}
header, footer{
    background-color: #287396;
    color:white;
    height: 260px;
}
header{
    grid-area: h;
    text-align:center;
    font-size: 30px;
    padding-bottom: 10%;
    height: 150%;
}
 
#min{
    background-color: #287396;
    grid-area: m;
    text-align: center;
    color: white;
}
#zdj{
    background-color:#f7c43b;
    grid-area: z;
    text-align: center;
}

.footer{
    background-color:#f7c43b;
    grid-area: f;
    text-align: center;

}
#min img{
    width: 60%;
}
#zdj img{
    width: 80%;
}
#zdjheader{
    width: 20%;
}
table{
    background-color: #f7c43b;
    text-align: left;
}
td{
    border: 1px solid black;
}